
<head> <link rel="stylesheet" href="css/DashboardTp.css"></head>

<div class="container-fluid" ng-controller="capacitybuilder">

            <div class="upper-panel">
                <div class="dashboard-col-sm-2">
                    <div class="dashboard-panel">
                        <div class="dashboard-panel-body" style="background-color:#F6AB3D;">
                            <div class="totalJobRoles">
                            <b>{{totalJobRoles}}</b>
                            </div>
                        </div>
                        <div class="dashboard-panel-footer" style="background-color:#E18806;">JOB ROLES</div>
                    </div>
                </div>

                <div class="dashboard-col-sm-2">
                    <div class="panel panel-default">
                        <div class="dashboard-panel-body" style="background-color:#A3C3E7;">
                            <div class="totalCandidatesTrained">
                           <b>{{totalCandidatesTrained}}</b> 
                            </div>
                        </div>
                        <div class="dashboard-panel-footer" style="background-color:#7BA9DC;">CANDIDATES TRAINED</div>
                    </div>
                </div>
					
                <div class="dashboard-col-sm-2">
                    <div class="panel panel-default">
                        <div class="dashboard-panel-body" style="background-color:#c68d7f;">
                            <div class="totalTrainingPartners">
                                <b>{{totalTrainingPartners}}</b>
                               
                            </div>
                        </div>
                        <div class="dashboard-panel-footer" style="background-color:#A07266;">TRAINING PARTNERS</div>
                    </div>
                </div>

                <div class="dashboard-col-sm-2">
                    <div class="panel panel-default">
                        <div class="dashboard-panel-body" style="background-color:#57C5D9;">
                            <div class="totalTrainingPartners">
                               
                                <b>{{totalSectorSkillCouncils}} </b> 
                            </div>
                        </div>
                        <div class="dashboard-panel-footer" style="background-color:#2DABC1;">SECTOR SKILL COUNCILS</div>
                    </div>
                </div>


                <div class="dashboard-col-sm-2">
                    <div class="panel panel-default">
                        <div class="dashboard-panel-body" style="background-color:#BCD43A;">
                            <div class="totalTrainingPartners">
                                <b>{{annualTarget}}</b>

                            </div>
                        </div>
                        <div class="dashboard-panel-footer" style="background-color:#A6C118;">ANNUAL TARGET</div>
                    </div>
                </div>
            </div>
			<div class="capacity-building" style="margin-bottom: 10pt">
			<div ui-grid="gridOptionsTPCapacity" ui-if="gridOptionsTPCapacity.data.length>0" ui-grid-edit ui-grid-cellNav ui-grid-auto-resize  ng-style="getTableHeightTP()"></div>
</div>
	
			<div class="capacity-building">
			<div ui-grid="gridOptionsABCapacity" ui-if="gridOptionsABCapacity.data.length>0" ui-grid-edit ui-grid-cellNav ui-grid-auto-resize ng-style="getTableHeightAB()"></div>
</div>
		<div class="modal fade in" id="myFormModal" ng-show="showCapacity">
		  <div class="modal-dialog">
		      <div class="modal-content">
		      <!-- Modal Body -->
		           <div class="modal-body">
		               <div class="form-horizontal">
					   
					   </div>
		                <div class="modal-footer">
		         			<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="showCapacityBuilding()">OK</button>
		       			</div>              
		           </div>
		       </div>
		   </div>
		</div>
</div>
