
<head>
<link href="css/helpline.css" type="text/css" rel="stylesheet">

</head>
<div class="container-fluid">
<p class="helplineHeading">HELPLINE</p>
<div class="col-md-5">

<img src="images/helpline.png">

</div>
<div class="col-md-7">
<div class="contentContainer"ng-switch on="page" >

<div class="row">
<label for ="candidates"class="contentheading"">CANDIDATES:</label>
<p> 91-88000-55555 <br>(Monday- Saturday 9 AM to 6 PM)</p>
</div>
<div class="row">
<label for ="Training Partners" class="contentheading">TRAINING PARTNERS:</label>
<p>+91-9289200333
<br> Monday- Saturday 9 AM to 6 PM</p>
</div>
<div class="row">
<label for ="aebas"class="contentheading">AEBAS:</label>
<p>011 - 47451615 (Extension - 752) and 011 - 47451616 (Extension - 763) <br>(Monday- Saturday 9 AM to 6 PM)</p>
</div>
<div class="row">
<label for ="smart"class="contentheading">SMART:</label>
<p>1800-123-9626 <br>Monday- Saturday 9 AM to 6 PM</p>
</div>
<div class="row">
<label for ="SDMS"class="contentheading">SDMS:</label>
<p> 011-47451600 (Extension - 774 / 764)<br> Monday- Saturday 9 AM to 6 PM</p>
</div>

</div>
</div>
</div>

</div>