<div>
<p class="csrheading"><I>Partner with skill India through your valuable Contributions</I></p>

<head>
<link rel="stylesheet" href="css/csr.css">
</head>
<script type="text/javascript" src="js/csr.js"></script>
<div class= "container ">
<div class="col-md-6">
  <div class= "row">
<button type="button" class="  modelButton1  btn" ng-click="page='modelpage1'">Model 1</button>
<button type="button" class="model1 btn" ng-click="page='modelpage1'">Direct Sponsorship for skill development</button>

</div>
<br>
<div class= "row">
<button type="button" class="modelButton2  btn" ng-click="page=model='modelpage2'">Model 2</button>
<button type="button" class="model2  btn" ng-click="page=model='modelpage2'">Setting Up COE/Institute</button>
</div>
<br>
<div class= "row">
<button type="button" class="modelButton3  btn"ng-click="page=model='modelpage3'">Model 3</button>
  <button type="button" class="model3  btn"ng-click="page=model='modelpage3'">Setup Multi Skill Training Center</button>
</div>
<br>
<div class= "row">
<button type="button" class=" modelButton4  btn "ng-click="page=model='modelpage4'">Model 4</button>
<button type="button" class="model4  btn"ng-click="page=model='modelpage4'">Setup Trade Specific Labs/Centers</button>
</div>
<br>
<div class= "row">
<button type="button" class=" modelButton5  btn"ng-click="page=model='modelpage5'">Model 5</button>
<button type="button" class="model5  btn"ng-click="page=model='modelpage5'">Donate Land,Building And Machinery</button>
</div>
<br>
<div class= "row">
<button type="button" class=" modelButton6 btn"ng-click="page=model='modelpage6'">Model 6</button>
<button type="button" class="model6  btn"ng-click="page=model='modelpage6'">Align Your Training To Sector Skill Councils</button>
</div>
<br>

<div class="col-md-12">
<div class="contactUs">&nbsp;&nbsp;&nbsp;&nbsp;
<p>Wish to plan your CSR with NSDC? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" class="contact btn">Contact Us</button></p>
</div>
</div>
</div>


<div class="col-md-6 contentMainContainer">
<div class="contentContainer"ng-switch on="page" >
<div ng-switch-when="modelpage1">
<ul style="list-style-type:disc">
  <li>Contribute funds directly to the NSDC to meet and fulfill CSR commitments under the Companies (Corporate Social Responsibility) Rules, 2013</li>
  <li>Sponsor candidates for skilling programs in operational regions of company's choice and in priority areas/sectors.</li>
  <li>Operationalize Project through agreement between Company and NSDC.</li>
  <li>Offer existing facilities and machinery for on-the-job training where available</li>
  <li>Implement the project through NSDC Training Partners with project management support by NSDC at nominal cost.</li>
  </ul>
  <img src="images\model1_image1.jpg">
  <img src="images\model1_image2.jpg">
  <img src="images\model1_image3.jpg">
  
   </div>

                
                
                
    <div ng-switch-when="modelpage2">
    <ul style="list-style-type:disc">
    <li> Setup/upgrade a skill development facility to be a Centre of Excellence focused in sector/areas of strategic importance.</li>
    <li> The centre may be operated directly by the Corporate or through a relevant Sector Skill Council on standards aligned to the NSQF</li>
    <li> An agreement may be signed between the Corporate, NSDC and SSC to operationalize such projects</li>
    <li> Focus on Training of Trainer (ToT), Training of Assessor (ToA) programs, specialized programs focused on high skilled trades, etc.</li>
    <li> Establish collaboration with foreign partners to develop transnational standards through G2G/B2B partnerships with the support of NSDC.</li>
    <li> Co-brand centre/institute with Skill India.</li>
    </ul>
   
    </div>            
      
      <div ng-switch-when="modelpage3">
   <ul style="list-style-type:disc">
    <li>Set up corporate owned multi-sectoral skill training centres/institutes.</li>
    <li>Operate with own team or through an affiliated NSDC/SSC Training Partner.</li>
    <li>
    <ul style="list-style-type:disc">Provide trainings across multiple sectors with a vision to.
    <li>Create benchmark institutions run and monitored closely by the corporates, thus making vocational skills aspirational.</li>
    <li>Provide a sustainable model for delivery of skills through quality infrastructure
    </li>
    
    </ul>
    </li>
    <li> Utilize CSR funds and/or dovetail with Government schemes (like Pradhan Mantri Kaushal Vikas Yojana) for sponsorship of candidates, where applicable.</li>
    </ul>
     <img src="images\model1_image4.jpg">
    <img src="images\model2_image1.jpg">
    <img src="images\model2_image2.jpg">
    </div>
    <div ng-switch-when="modelpage4">
  <ul style="list-style-type:disc">
    <li>Corporate, NSDC and the SSC can jointly identify training centres to upgrade/augment such centres.</li>
    <li>Corporate can setup labs to support skill development programs addressing industry need for skilled manpower at trade-level.</li>
    <li>Corporate can ensure joint monitoring with NSDC to ensure such centres are delivering as per plan and on quality standards set forth for such centres.</li>
    <li>Ensure continuous engagement through technology and knowledge interventions, on-the-job training/apprenticeship programs for graduates, etc</li>
    <li>Government schemes (like PMKVY) may be converged in such centres where focus is on underprivileged youth, to offset the cost of training and assessment.</li>
    
    </ul>
    </div>
    <div ng-switch-when="modelpage5">
    <ul style="list-style-type:disc">
    <li>Provide right of usage to an appropriate facility to be used a skill development centre.</li>
    <li>Support existing programs through basic setup costs and equipment donation to offset training programs that are cost intensive.</li>
    <li>Provision land usage for specific programs like Driver Training Centres, Construction-related trades, etc. with high employment potential.</li>
    <li>Operate through an NSDC Training Partner.</li>
    
    </ul>
    <img src="images\model5_image.jpg">
    
    </div>          
         <div ng-switch-when="modelpage6">
    <ul style="list-style-type:disc">
    <li>Participate in various activities of one or more relevant Sector Skill Councils in line with your business operations.</li>
    <li>Work directly with Sector Skill Councils to contribute to development of industry standards for skill development under the NSQF.</li>
    <li>Align existing training centres to Sector Skill Councils to offer NSQF-aligned programs</li>
    <li>
     <ul style="list-style-type:disc"> 
     Undertake Recognition of Prior Learning (RPL) certification programs for employees (including contractual workers) for NSQF-alignment:</li>
    <li>ORPL is a program to provide recognition to the informal learning or learning through work to get equal acceptance at par with formal levels of education. It aims to appreciate prior learning irrespective of the medium of achieving it. In short, RPL is a process of assessment of an individual's prior learning to give due importance to learning as an outcome rather than learning as a process.</li>
    </ul>
    </ul>
  </div>  
   </div>   
  </div>






</div>
</div>