<div class="backfaq" ng-controller="page4">
    <h3 class="FAQs">FAQs</h3>
    <div class="lMargin">
    <accordion close-others="true">

            <!--  ------------------------QUESTION 1------------------  -->
            <accordion-group is-open="status.open">
                <accordion-heading>
                    <div ng-click="getDataAcrossAllScheme()">
                        <div ng-click="$event.stopPropagation();">
                            How many candidates have we enrolled /assessed/certified across all the scheme since inception ?
                        </div>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i>
                    </div>
                </accordion-heading>
                <div ui-grid="gridOptions" ui-grid-edit ui-grid-cellNav ui-grid-auto-resize class="grid"></div>
            </accordion-group>
</accordion></div>

</div>