<div ng-controller="govPartnerTabs">
<head>
        <link href="css/dashboardGov.css" type="text/css" rel="stylesheet">
     
    </head>
<div class="container-fluid dashborad-container">
        <div class="dashborad-panelWrap">
            <h3 class="text">Overall Information</h3>

            <div class="upper-panel">
                <div class="dashboard-col-sm-2">
                    <div class="dashboard-panel">
                        <div class="dashboard-panel-body" style="background-color:#F6AB3D;">
                            <div class="annualTarget">
                            <b>{{annualTarget}}</b>

                            </div>
                        </div>
                        <div class="dashboard-panel-footer" style="background-color:#E18806;">JOB ROLES</div>
                    </div>
                </div>

                <div class="dashboard-col-sm-2">
                    <div class="panel panel-default">
                        <div class="dashboard-panel-body" style="background-color:#A3C3E7;">
                            <div class="totalCandidatesTrained">
                           <b>{{totalCandidatesTrained}}</b> 
                            </div>
                        </div>
                        <div class="dashboard-panel-footer" style="background-color:#7BA9DC;">CANDIDATES TRAINED</div>
                    </div>
                </div>
					
                <div class="dashboard-col-sm-2">
                    <div class="panel panel-default">
                        <div class="dashboard-panel-body" style="background-color:#c68d7f;">
                            <div class="totalCandidatesCertified">
                                <b>{{totalCandidatesCertified}}</b>
                               
                            </div>
                        </div>
                        <div class="dashboard-panel-footer" style="background-color:#A07266;">TRAINING PARTNERS</div>
                    </div>
                </div>

                <div class="dashboard-col-sm-2">
                    <div class="panel panel-default">
                        <div class="dashboard-panel-body" style="background-color:#57C5D9;">
                            <div class="totalTrainingCenters" class="TotalTC">
                               
                                <b>{{totalTrainingCenters}} </b> 
                            </div>
                        </div>
                        <div class="dashboard-panel-footer" style="background-color:#2DABC1;">SECTOR SKILL COUNCILS</div>
                    </div>
                </div>


                <div class="dashboard-col-sm-2">
                    <div class="panel panel-default">
                        <div class="dashboard-panel-body" style="background-color:#BCD43A;">
                            <div class="annualTarget">
                                <b>{{totalCandidatesPlaced}}</b>

                            </div>
                        </div>
                        <div class="dashboard-panel-footer" style="background-color:#A6C118;">ANNUAL TARGET</div>
                    </div>
                </div>
            </div>
        
        <div class="row">
        
        	<div class="col-md-6">             
<form>
<div class="form-horizontal">
<div class="form-group col-md-5">
<select ng-model="chartType" ng-init = "chartTypeList[0].id" ng-options="option.id as option.name for option in chartTypeList" class="form-control"> </select>
</div>
<div class="form-group col-md-5"><input type="button" class="btn btn-generate-chart" ng-click=generateChart() name="generateChart" value="View Chart"/></div>
</div>

</form>
</div>
        	
      <div class="col-md-6" id="chart">
      <div id="total-csr" ng-show="chartType =='chart2'" style="width:550px;height:325px"></div>
      <div id="placement-percent" ng-show="chartType =='chart1'" style="width:550px;height:325px"></div>
<!--       Code to generate chart -->

      </div>  	
        
        </div>

</div>