<div ng-controller="trainingPartnerTabs">
<div class="dashborad-container">
        <div class="dashborad-panelWrap">
            <h3 class="text">Overall Training Information</h3>

            <div class="upper-panel">
                <div class="dashboard-col-sm-2">
                    <div class="dashboard-panel">
                        <div class="dashboard-panel-body" style="background-color:#F6AB3D;">
                            <div class="Enrolled">
<!--                                 <b>{{totalIndustryPartnerships}}</b> -->
<b>2345678</b>
                            </div>
                        </div>
                        <div class="dashboard-panel-footer" style="background-color:#E18806;">Industry Partnerships</div>
                    </div>
                </div>

                <div class="dashboard-col-sm-2">
                    <div class="panel panel-default">
                        <div class="dashboard-panel-body" style="background-color:#A3C3E7;">
                            <div class="totalCsrFunds">
<!--                                 <b>{{totalCsrFunds}}</b> -->
                                <b>1243455</b>
                            </div>
                        </div>
                        <div class="dashboard-panel-footer" style="background-color:#7BA9DC;">CSR FUNDS</div>
                    </div>
                </div>
					
                <div class="dashboard-col-sm-2">
                    <div class="panel panel-default">
                        <div class="dashboard-panel-body" style="background-color:#c68d7f;">
                            <div class="Certified">
<!--                                 <b>{{totalCandidatesCertified}}</b> -->
                                <b>345246</b>
                            </div>
                        </div>
                        <div class="dashboard-panel-footer" style="background-color:#A07266;">CANDIDATES CERTIFIED</div>
                    </div>
                </div>

                <div class="dashboard-col-sm-2">
                    <div class="panel panel-default">
                        <div class="dashboard-panel-body" style="background-color:#57C5D9;">
                            <div class="totalJobRoles" class="TotalTC">
                                <b>3546266</b>
<!--                                 <b>{{totalJobRoles}} </b> -->
                            </div>
                        </div>
                        <div class="dashboard-panel-footer" style="background-color:#2DABC1;">JOB ROLES</div>
                    </div>
                </div>


                <div class="dashboard-col-sm-2">
                    <div class="panel panel-default">
                        <div class="dashboard-panel-body" style="background-color:#BCD43A;">
                            <div class="TotalTP">
                                <b>{{totalTP}}</b>

                            </div>
                        </div>
                        <div class="dashboard-panel-footer" style="background-color:#A6C118;">TRAINING PARTNERS</div>
                    </div>
                </div>
            </div>
        
        <div class="row">
        
        	<div class="col-md-6">             
<form>
<div class="form-horizontal">
<div class="form-group col-md-5">
<select ng-model="chartType.name" ng-options="option.id as option.name for option in chartTypeList" class="form-control"> </select>
</div>
<div class="form-group col-md-5"><input type="button" class="btn btn-generate-chart" ng-click=generateChart() name="generateChart" value="View Chart"/></div>
</div>

</form>
</div>
        	
      <div class="col-md-6" id="chart">
      <div id="total-csr" ng-show="chartType =='chart1'"></div>
      <div id="placement-percent" ng-show="chartType =='chart2'"></div>
<!--       Code to generate chart -->
<h3>{{response}}</h3>
      </div>   	
        
        </div>

</div>