<div class="container-fluid" >
<head><link rel="stylesheet" type="text/css" href="css/register-with-nsdc.css"></head>
	<div class="row">
		<div class="col-md-6">
	   
	   <p class="registerMainHeading"> Registration process of Training Partner with NSDC</p>
	<img src = "images/Picture.jpg" width="200px" height="300px">
		
		</div>
	
	<div class="col-md-6 submissionForm" ng-controller="submitController">
  <p id="formHeading">Expression of Interest for Training Partner Affiliation</p>
	<form role="form" id="" ng-submit="register()" >
    	
    	<div class="successMessage" ng-show="successMessage > '1'">{{successMessage}}<a href="http://18.188.63.226:8080/" target="_blank">Click Here</a></div>
		<div class="errorMessage">{{errorMessage}}</div>
		<div class="registrationFailed">{{registrationFailed}}</div>
		
    	<div class="form-group">

      		<input type="text" class="form-control" id="organisationName" placeholder="Name of Organisation" name="organisationName" ng-model="affiliation.organisationName" required>
    	</div>
    
    <div class="form-group">

      <input type="text" class="form-control" id="location" placeholder="Location of Head-Office" name="head-office" ng-model="affiliation.location" required>
    
    </div>
    
    <div class="form-group">

<!--       <input type="text" class="form-control" id="jobRole" placeholder="Job Role for which affiliation is sort" name="jobRole" ng-model="affiliation.jobRoleList" required> -->
    <select class="form-control" ng-model="affiliation.jobRole" required>
<option ng-repeat="x in jobRoleList" value="{{x.jobrole}}">{{x.jobrole}}</option>
</select>
    </div>
    	
    <div class="form-group">

      <input type="text" class="form-control" id="Name of contact person" placeholder="Name of Contact person" name="pocName" ng-model="affiliation.pocName" required>
    
    </div>
    
    <div class="form-group">

     <input type="email" class="form-control" id="Email" placeholder="Email address of contact person" name="Email" ng-model="affiliation.pocEmail"  required>
    
    </div>
    
    	<input  type="submit" class="btn btn-info" value="Submit"/>
	
	 </form>		
	
	</div>	
	
	</div>

</div>