<div ng-controller="gapStudy">

<head>

<link rel="stylesheet" href="css/skillgapstudy.css">

</head>

<div class="skillgap">
<h3 class="title">Skill Gap Study</h3>
<p> data</p>

<div class="switchButton">
  <ul class="nav nav-pills nav-justified">
    <li class="active"><a data-toggle="tab" ng-click="tab='Statewise'">State Wise</a></li>
    <li><a data-toggle="tab" ng-click="tab='Industrywise'">Industry Wise</a></li>
    <li><a data-toggle="tab" ng-click="tab='International'">International</a></li>
  </ul>
  <div class="row">
  <div class="col-md-6 contentMainContainer">
<div class="contentContainer"ng-switch on="tab" >
<div ng-switch-when="Statewise">
<p> state</p>
 <div class="col-md-4">
 <select class="form-control"ng-model="selectState" required>
					        <option value="" disabled selected>Select a state</option>
					        <option ng-repeat="x in states" value="{{x}}">{{x}}</option>
					      	</select> 
					      	</div>
					      	</div>
<div ng-switch-when="Industrywise">
<p> Industry</p>
<div class="col-md-4">
 <select class="form-control"ng-model="selectState" required>
					        <option value="" disabled selected>Select a state</option>
					        <option ng-repeat="x in states" value="{{x}}">{{x}}</option>
					      	</select> 
					      	</div>
</div>
<div ng-switch-when="International">
<p> international</p>
<div class="col-md-4">
 <select class="form-control"ng-model="selectState" required>
					        <option value="" disabled selected>Select a state</option>
					        <option ng-repeat="x in states" value="{{x}}">{{x}}</option>
					      	</select> 
					      	</div>
</div>
   </div>
   </div>
   <div class="col-md-6 contentMainContainer">
<p>common</p>

   </div></div>

<!--   <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div></div> -->

</div>

</div>
</div>