<div ng-controller="gapStudy">

<head>
<link rel="stylesheet" href="css/skillgapstudy.css">
</head>

<div class="skillgap">
<h3 class="title">Skill Gap Study</h3>
<p> data</p>

<div class="switchButton">
  <ul class="nav nav-pills nav-justified">
    <li class="active"><a class="state" data-toggle="tab" ng-click="tab='Statewise'">State Wise</a></li>
    <li><a data-toggle="tab" ng-click="tab='Industrywise'">Industry Wise</a></li>
    <li><a data-toggle="tab" ng-click="tab='International'">Analysis</a></li>
  </ul>
  <div class="row">
<div class="contentContainer"ng-switch on="tab" >
<div ng-switch-when="Statewise">
 <div class="col-md-6">
 <div class="statewise" >
  <select class="form-control"ng-model="selectState" placeholder="Select State">
                      <option value="" disabled selected>Select your option</option>
                      <option >Andhra Pradesh</option>
                      <option>Arunachal Pradesh</option>
	                  <option>Assam</option>
	                  <option>Bihar</option>
	                  <option>Chhattisgarh</option>
	                  <option>Delhi</option>
	                  <option>Goa</option>
	                  <option>Gujarat</option>
	                  <option>Haryana</option>
	                  <option>Himachal Pradesh</option>
	                  <option>Jammu & Kashmir</option>
	                  <option>Jharkhand</option>
	                  <option>Karnataka</option>
	                  <option>Kerala</option>
	                  <option>Madhya Pradesh</option>
	                  <option>Maharashtra</option>
	                  <option>Manipur</option>
	                  <option>Meghalaya</option>
	                  <option>Mizoram</option>
	                  <option>Nagaland</option>
	                  <option>Odisha</option>
	                  <option>Punjab</option>
	                  <option>Rajasthan</option>
	                  <option>Sikkim</option>
	                  <option>Tamil Nadu</option>
	                  <option>Telangana</option>
	                  <option>Tripura</option>
	                  <option>Uttarakhand</option>
	                  <option>Uttar Pradesh</option>
	                  <option>West Bengal</option>
					      	</select>
	</div>
	<div ng-show="selectState=='Andhra Pradesh'">
   <div ui-grid="gridOptionstate" ui-grid-edit ui-grid-cellNav  ui-grid-auto-resize class="grid grid-align " style="height:30%"></div>
   </div>
   <div ng-show="selectState=='Delhi'">
   <div ui-grid="gridOptionstate" ui-grid-edit ui-grid-cellNav  ui-grid-auto-resize class="grid grid-align " style="height:30%"></div>
   </div>
   <div ng-show="selectState=='Karnataka'">
   <div ui-grid="gridOptionstate" ui-grid-edit ui-grid-cellNav  ui-grid-auto-resize class="grid grid-align " style="height:30%"></div>
   </div>
   <div ng-show="selectState=='Odisha'">
   <div ui-grid="gridOptionstate" ui-grid-edit ui-grid-cellNav  ui-grid-auto-resize class="grid grid-align " style="height:30%"></div>
   </div>
   <div ng-show="selectState=='West Bengal'">
   <div ui-grid="gridOptionstate" ui-grid-edit ui-grid-cellNav  ui-grid-auto-resize class="grid grid-align " style="height:30%"></div>
   </div>
   
</div>
   <div class="col-md-6">
   <div class="idea">
<p class="submitIdea">Wish to Contibute with Suggestions?</p>
<div class="submitidea">
<button class="submit btn btn-primary" ng-click="showYourInterest()">Submit Idea</button></div>


   </div></div>
</div>

<div ng-switch-when="Industrywise">
 <div class="col-md-6">
 <div class="statewise" >
  <select class="form-control"ng-model="selectCategory">
                      <option value="" disabled selected>Select Category</option>
                      <option >Education & Skill Development Services</option>
                      <option>Furniture & Furnishings industry</option>
	                  <option>Media & Entertainment</option>
	                  <option>Organized Retail sector</option>
	                  <option>Pharmaceuticals</option>
	                  <option>Private Security Services</option>
	                  <option>Telcommunications</option>
	                  <option>Agriculture</option>
	                  <option>Auto & Auto component</option>
	                  <option>Banking & Financial Services Insurance</option>
	                  <option>Beauty & Wellness </option>
	                  <option>Building, Construction industry & Real Estate</option>
	                  <option>Construction Materials & Building Hardware</option>
	                  <option>Domestic Help</option>
	                  <option>Electronics & IT hardware industry</option>
	                  <option>Food Processing sector</option>
	                  <option>Gems & Jewellery</option>
	                  <option>Handlooms and Handicrafts</option>
	                  <option>Healthcare Services</option>
	                  <option>IT & ITes</option>
	                  <option>Leather & Leather goods industry</option>
	                  <option>Textile & Clothing industry</option>
	                  <option>Tourism, Travel, Hospitality & Trade sector</option>
	                  <option>Transportation, Logistics, Warehousing & Packaging</option>
</select>
	</div>
	<div ng-show="selectCategory=='Education & Skill Development Services'">
   <div class="pdffile">
   <div><a href="https://www.nsdcindia.org/sites/default/files/Education-Skill-Development.pdf"><img src="images/pdf@2x.png" class="pointer">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="title">Education & Skill Development Services</span></a></div>
   </div>
   </div>
   <div ng-show="selectState=='Delhi'">
   <div ui-grid="gridOptionstate" ui-grid-edit ui-grid-cellNav  ui-grid-auto-resize class="grid grid-align " style="height:30%"></div>
   </div>
   <div ng-show="selectState=='Karnataka'">
   <div ui-grid="gridOptionstate" ui-grid-edit ui-grid-cellNav  ui-grid-auto-resize class="grid grid-align " style="height:30%"></div>
   </div>
   <div ng-show="selectState=='Odisha'">
   <div ui-grid="gridOptionstate" ui-grid-edit ui-grid-cellNav  ui-grid-auto-resize class="grid grid-align " style="height:30%"></div>
   </div>
   <div ng-show="selectState=='West Bengal'">
   <div ui-grid="gridOptionstate" ui-grid-edit ui-grid-cellNav  ui-grid-auto-resize class="grid grid-align " style="height:30%"></div>
   </div>
   
</div>
   <div class="col-md-6">
   <div class="idea">
<p class="submitIdea">Wish to Contribute with Suggestions?</p>
<div class="submitidea">
<button class="submit btn btn-primary" ng-click="showYourInterest()">Submit Idea</button></div>
</div></div>
					      
</div>
<div ng-switch-when="International">
			<div class="form-group row jobopeningmain">
			<div class="col-xs-5" style="padding-right:0pt">
			    <input class="form-control" id="state" type="text" ng-model="state" placeholder="Enter State">
			</div>
			<div class="col-xs-3" style="padding-left:1pt; padding-right:1.5pt">
			    <input class="form-control" id="district" type="text" ng-model="district" placeholder="Enter District">
			</div>
			<div>
			    <button type="button" class="btn btn-primary"ng-click="search()">Search</button>
			</div> 
			</div>
			
			<div ui-grid="gridOptionSkillGap" ui-grid-edit ui-grid-cellNav class="grid grid-align "></div>
			   

</div>
   </div>
   </div>

</div>

</div>


<div class="modal fade in" id="myFormModal" ng-show="showInterest">
    <div class="modal-dialog">
    
        <div class="modal-content">
         <!-- Modal Body -->
            <div class="modal-body">
                
                <form ng-submit="showYourInterest()">
				<div class="form-group">
				  <label for="name" class="col-md-2" ng-model="name">Name</label>
				  <input type="text" class="form-control" id="name" placeholder="Enter your name" required/>
				</div>
				<div class="form-group">
				  <label for="organizationName" class="col-md-2" ng-model="organization">Organization</label>
				  <input type="text" class="form-control" id="organizationName" placeholder="Enter your organization name" required>
				</div>
				<div class="form-group">
				  <label for="email" class="col-md-2">Email</label>
				  <input type="email" class="form-control" id="email" placeholder="Enter your email id" required>
				</div>
				<div class="form-group">
				  <label for="uploadFile">Idea</label>
				  <input type="file"  id="uploadFile" placeholder="Choose file" required>
				</div>
				<button type="submit" class="btn btn-success" >Upload Idea</button>
				<button type="button" class="btn btn-default" ng-click="showYourInterest()">Cancel</button>
				
				</form>
           	</div>
            
        	</div>
   		 </div>
		</div>	
</div>