<div ng-controller="trainingMaterial" class="trainingMaterialBody">
<head>
	
</head>
<p class="trainingMaterial">Training Material</p>
<p> NSDC and various sector skill councils publish relevant training material which can be used for preparation before assessments.</p>
<div class="input-group col-md-6 searchBar" >
			<input type= "text" class="form-control" ng-model="jobrolename" placeholder="Please enter a Job Role "/>
			<div class="input-group-btn">
			<button class="btn searchTrainingMaterial" ng-click="search(jobrolename)">Search</button>
			</div>

</div>

<p class="errormessage">{{errorMessage}}</p>

<div ui-grid="gridOptionsTrainingMaterial" ui-grid-edit ui-grid-cellNav ui-grid-auto-resize class="grid grid-align"></div>  

</div>