 
<div id="student" class="carousel slide col-md-12" data-ride="carousel">
<!-- <ol class="carousel-indicators"> -->
<!--     <li data-target="#qrenciaIndexCarousel" data-slide-to="0" class="active"></li> -->
<!--     <li data-target="#qrenciaIndexCarousel" data-slide-to="1"></li> -->
<!--     <li data-target="#qrenciaIndexCarousel" data-slide-to="2"></li> -->
<!--     <li data-target="#qrenciaIndexCarousel" data-slide-to="3"></li> -->
<!--   </ol> -->
  <div class="carousel-inner carousel-height">
    <div class="carousel-item carousel-height active">
      <img class="d-block w-100 h-50" src="../images/carsousel_image1.png" alt="First slide">
    </div>
    <div class="carousel-item carousel-height">
      <img class="d-block w-100 h-50" src="../images/carousel_image2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item carousel-height">
      <img class="d-block w-100 h-50" src="../images/carousel_image3.jpg" alt="Third slide">
    </div>
  </div>
</div>