<div ng-controller="talentAcquisition">
	
<div class="col-md-8 connectwithSSC">
<div class="input-group col-md-8" style=" margin-bottom: 8pt;">
			<input type= "text" class="form-control col-md-12" ng-model="jobrolename" placeholder="Please enter a Job Role to search Candidates"/>
			<div class="input-group-btn">
			<button class="btn btn-primary" ng-click="search(jobrolename)">Search</button>
			</div>
			
</div>
<p style="color: red; font-size: 10pt">{{errorMessage}}</p>
<div ng-switch on="openBlock" style="margin-top:4%">
<div ng-switch-when="block1">

                    <p style="font-family: Open Sans; font-size: 1.5em;">We are having 27,221 candidates trained</p>
                </div>
                <div ng-switch-when="block2">

                   <div ui-grid="gridOptionsTalent" ui-grid-edit ui-grid-cellNav ui-grid-auto-resize class="grid grid-align"></div>  
                    
                </div>




</div>
</div>


<div class="col-md-4 connectwithSSC" style="border-left: 1px solid;">
<p>Need help in finding the right candidate?</p>
<br>
<br>
<button class="btn col-md-12 btn-md" style="background: RGB(108,43,67); color: white;">Connect with SSCs</button>
<br>
<br>
<br>
</div>

</div>
