<div class="container-fluid">

<div ng-controller="tenderRfp">
 <head>
    <link rel="stylesheet" href="../css/tenders-rfp.css" type="text/css">
	</head>
	<div>
	<h3>Tenders and RFP</h3>
		<div class="search-box">
		<h3>Search By</h3>
		<div class="form-group searchby">
		<div class="row">
        <div class="col-md-3">
       	<select ng-model="departmentType" ng-init = "departmentTypeList[0].id" ng-options="option.id as option.name for option in departmentTypeList" class="form-control"></select>
     </div>
     <div class="col-md-3">
       	<select ng-model="categoryType" ng-init = "categoryTypeList[0].id" ng-options="option.id as option.name for option in categoryTypeList" class="form-control"></select>
     </div>
     <div class="col-md-3" >
        <input class="form-control" id="tenderno" type="text" ng-model="tenderno" placeholder="Tender Number">
        </div>
        <div class="col-md-3">
        <input class="form-control" id="tendertitle" type="text" ng-model="tendertitle" placeholder="Tender Title">
        </div>
        </div>
       	<div class="row" style="margin-top:10pt">
        <div class="col-xs-3">
        <button type="button" class="btn search" ng-click="search()">Search</button>
        </div>
        <div class="col-xs-3">
        <button type="button" class="btn search1" ng-click="reset()">Reset</button>
        </div>
        </div>
        </div>
        <p class="errormessage" ng-bind="errorMessage">{{errorMessage}}</p>
        </div>
	<div ng-show="tenders">
	<p>backend</p>
	<div ui-grid="gridOptionsearch" ui-grid-edit ui-grid-cellNav class="grid grid-align "></div>
	</div> 
	<div class="data-table" ng-hide="ui-grid">
	<h3>Active Tenders</h3>
		<div ui-grid="gridOptionrfp" ui-grid-edit ui-grid-cellNav class="grid grid-align "></div> 
		</div>
		</div>
	  </div>
	  </div>