<div class="container-fluid">

<div ng-controller="tenderRfp">
 <head>
    <link rel="stylesheet" href="../css/tenders-rfp.css" type="text/css">
	</head>
	<div>
	<h3>Tenders and RFP</h3>
		<div class="search-box">
		<h3>Search By</h3>
		<div class="form-group searchby">
		<div class="row">
        <div class="col-md-3">
       	<select ng-model="tenderDepartment" ng-init = "tenderDepartmentList[0].id" ng-options="option.id as option.name for option in tenderDepartmentList" class="form-control"></select>
     </div>
     <div class="col-md-3">
       	<select ng-model="tenderCategory" ng-init = "tenderCategoryList[0].id" ng-options="option.id as option.name for option in tenderCategoryList" class="form-control"></select>
     </div>
     <div class="col-md-3" >
        <input class="form-control" id="tenderNumber" type="text" ng-model="tenderNumber" placeholder="Tender Number">
        </div>
        <div class="col-md-3">
        <input class="form-control" id="tenderTitle" type="text" ng-model="tenderTitle" placeholder="Tender Title">
        </div>
        </div>
       	<div class="row" style="margin-top:10pt">
        <div class="col-xs-3">
        <button type="button" class="btn search" ng-click="search()">Search</button>
        </div>
        <div class="col-xs-3">
        <button type="button" class="btn search1" ng-click="reset()">Reset</button>
        </div>
        </div>
        </div>
        <p class="errormessage">{{errorMessage}}</p>
        </div>
	<div ng-show="tenders">
	<h3>Search Result</h3>
	<div ui-grid="gridOptionsearch" ui-if="gridOptionwebinar.data.length>0" ui-grid-edit ui-grid-cellNav ui-grid-auto-resize ng-style="getTableHeight()" class="grid grid-align "></div>
	</div> 
	<div class="data-table" ng-show="Active">
	<h3>Active Tenders</h3>
		<div ui-grid="gridOptionrfp" ui-if="gridOptionwebinar.data.length>0" ui-grid-edit ui-grid-cellNav ui-grid-auto-resize ng-style="getTableHeight()" class="grid grid-align "></div> 
		</div>
		</div>
	  </div>
	  </div>