<div>
		<link href="css/findTC.css" type="text/stylesheets">
	
<div class="container-fluid" ng-controller="findtrainingcenter">
  <h6>Find a Training Center</h6>
 <div class="panel-group col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">Find a Training Center</div>
      <div class="panel-body">
    <form ng-submit="findtc()">
    <div >
      <label for="state" class="col-md-2">STATE</label>
      <select class="form-control col-md-4" id="state" ng-model="find.state" required>
        <option value="" disabled selected>Choose State</option>
        <option ng-repeat="x in findState" value="{{x.state}}">{{x.state}}</option>
      </select>
    </div>
    <div>
      <label for="district" class="col-md-2">DISTRICT</label>
      <select class="form-control col-md-4" id="district" ng-model="find.district" required>
        <option value="" disabled selected>Choose District</option>
        <option ng-repeat="x in findDistrict" value="{{x.district}}">{{x.district}}</option>
      </select>
    </div>
    <div >
      <label for="jobrole" class="col-md-2">Block</label>
      <select class="form-control"class="col-md-4" id="block" ng-model="find.block" required>
        <option value="" disabled selected>Choose Block</option>
        <option ng-repeat="x in findBlocks" value="{{x.blocks}}">{{x.blocks}}</option>
        </select>
    </div>
   
    <div>
      <label for="sector" class="col-md-2">SECTOR</label>
      <select class="form-control" id="sector" ng-model="find.sector" class="col-md-4" required>
        <option value="" disabled selected>Choose Sector</option>
        <option ng-repeat="x in findSector" value="{{x.sector}}">{{x.sector}}</option>
      </select>
    </div>
    <div >
      <label for="jobrole" class="col-md-2">JOB ROLE</label>
      <select class="form-control" id="jobrole" ng-model="find.jobrole" class="col-md-4" required>
        <option value="" disabled selected>Choose Job Role</option>
        <option ng-repeat="x in findJobRole" value="{{x.jobrole}}">{{x.jobrole}}</option>
        </select>
    </div>
    
 <p> {{errorMessage}}</p>
  
    <button type="submit" class="btn btn-primary">FIND</button>
  </form>
      </div>
    </div>
  </div> 
  
 
 <!-- UI GRID -->
 
 
 <div class="col-md-6">
	<div ui-grid="gridOptions" ui-grid-edit ui-grid-cellNav ui-grid-auto-resize class="grid grid-align "></div>
  </div> 
  
<div class="modal-dialog" ng-show="showInterest">
<div class="modal-content">

<label>Name:</label>
<input type="text" class="" id="name" placeholder="Enter Your Name"/>
<br>
<label>Email:</label>
<input type="text" class="" id="email" placeholder="Enter Your email"/>
<br>
<label>Contact:</label>
<input type="text" class="" id="number" placeholder="Enter Your number"/>
<br>
<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="showYourInterest()">Close</button>

</div>

  </div>
</div>

</div>