<div>
	<head>
		<script type="text/javascript" src="js/controllers/reportIssue.js"></script>
	</head>
	 <link  href="css/reportIssue.css" rel="stylesheet"/>
		  <div class="reportIssuesHeading">
		  <p>Report issues against Training Institute</p>
 </div>
  <div class="container reportIssuesForm">
  <div class="row">
    <div class="form-group" >
          <label for="name" class="col-md-2" >Name:</label>
        <input type="name" class="form-control col-md-10" id="name" ng-model="user.name" ng-required="true" >
        </div>
        </div>
        <div class="row">
        <div class="form-group">

             <label for="contact number" class="col-md-2">Contact Number:</label>
              <input type="contact Number" class="form-control col-md-10" id="contactNumber" ng-model="user.contactNumber" ng-required="true">
            </div>
            </div>
            <div class="row">
            <div class="form-group">
                  <label for="role" class="col-md-2">Role:</label>
                <input type="Role" class="form-control col-md-10" id="role" ng-model="user.role" ng-required="true">
                </div>
                </div>
                <div class="row">
                
                     <div class="form-group">
      <label for="issues" class="col-md-2">Select Issue Category</label>
                    <select class="form-control col-md-10" id="Category" ng-model="user.Category"  ng-required="true">
                      <option></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                             </select>
                     </div>
      
                    </div>
                    <div class="row">
                    <div class="form-group">
                          <label for="Institue Details" class="col-md-2">Institute Details:</label>
                       <input type="Institue Details" class="form-control col-md-10" id="Institute" ng-model="user.Institute" ng-required="true">
                        </div></div>
                        <div class="row">
                        <div class="form-group">
                              <label for="Center Address" class="col-md-2">Center Address:</label>
                              <input type="Center Address" class="form-control col-md-10" id="address" ng-model="user.address"ng-required="true" >
                            </div>
                            </div>
                            <div class="row">
                            <div class="form-group">
                                  <label for="Description" class="col-md-2">Description:</label>
                               <input type="Description" class="form-control col-md-10" id ="description" ng-model="user.description" ng-required="true">
                                </div>
                                </div>
                                 <button type="submit" class="btn  reportIssuesSubmit" ng-required="true" >Submit</button>

</div>
</div>

</div>