.pointer{
  cursor: pointer;
}
.ui-grid-header-cell{
  text-align: center;
  background-color: #0375b4;
  color:#ffffff;
}
.ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: #ffffff;
}
.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: #ffffff;
}
.ui-grid-cell{
  text-align: center;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #d4d4d4;;
}
/* 
.Policies{
  background-color: #FFFFFF;
  padding: 1em;
  margin-bottom: 1em;
}
 */

.alphaHeading{
	background: #fcfcfc none repeat scroll 0 0;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 1px 2px 3px #ddd;
    margin: 5px 0 15px;
}

.alphaHeading-right-border{
    border-right: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    margin-left: -4px;
    padding: 0 16pt 0 13pt;
    text-transform: uppercase;
    margin-right: -3pt;
}
.alphaHeading-no-border{
    cursor: pointer;
    display: inline-block;
    margin-left: -4px;
    padding: 0 16pt 0 13pt;
    text-transform: uppercase;
    margin-right: -3pt;
}


.alphaHeading ul{
/* 	margin-left: 18pt; */
	
}

.alphaHeading ul li.active {
    background: #008ad2;
    color: #fff;
    font-weight: bold;
}

.alphaHeading li {
    list-style: outside none none;
}

.alphaHeading ul li:hover {
    background-color: #b7c0ce;
    color: white;
}

