.btn-primary{
	    margin-top: 13%;
	   margin-left:-5%;
	
}
.competition-container{
	padding:2%;
}
.competition-panel{
	width:200pt;
	margin-left:40%;
	text-align:center;
	color:white;
	
}
.information-panel{
	
	font-size:1.5em;
}
.moreEvents{
	background-color:#7BA9DC;
	color:white;
	margin-left:28%;
	margin-top:3%;
}

.exploreContent{
	    margin-top: 3%;
   font-size: 1.3em;
}

.exploreButton{
	background-color:#55AAFF;
	color:white;
	margin-left:12%;
	
}
.eventsHeading{
	    font-size: 2.5em;
    margin-left:10%;
    color:#0066A4;
}
.competitionHeading{
	font-size:2em;
	color:#6C2B43;
}
#category {
    margin-left: 235pt;
    margin-top: -12%;
}
input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
 border: 1px solid red;
 }
 .competitionKazan{
 margin-top:2%;
 }
 .competitionFrance{
 margin-top:2%;
 }
 .applySkillform{
 margin-left:2%;
 }