.btn-primary{
	    margin-top: 5%;
	
}
.wsc{
	padding:2%;
}

.competition-container{
	padding:2%;
}
.competition-panel{
	width:200pt;
	text-align:center;
	color:white;
	
}
.information-panel{
	
	font-size:1.5em;
}
.moreEvents{
	background-color:#7BA9DC;
	color:white;
	margin-top:3%;
}

.heading{
	text-align:center;
}
.eventsHeading{
	font-size: 2.5em;
    color: #0066A4;
    font-weight: bold;
}
.competitionHeading{
	font-size:2.5em;
	color:#6C2B43;
	font-weight: bold;
}
.row .category{
	float: left;
}
.events{
	padding:4%;
}
input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
 border: 1px solid red;
 }
 .competitionKazan{
 margin-top:2%;
 }
 .competitionFrance{
 margin-top:2%;
 }
.col-md-6{
 padding-left:0;
 }
.col-md-6:last-child{
 padding-right:0;
 }
 .col-md-12{
  padding-left:0;
   padding-right:0;
 }
   .successMessage
{
	color: green;
}
.errorMessage
{
	color: red;
}