.csrheading{
	font-size:2em;
	color:#1F497D;
	font-family:OpenSansRegular;
}
.model1{
	background-color:#F6AB3D;
	
	
}
.modelButton1 {
	background-color:#E18806;
}

.model2{
	background-color:#A3C3E7;
	
}
.modelButton2 {
	background-color:#7BA9DC;
}
.model3{
	background-color:#C6837F;
	
}
.modelButton3 {
	background-color:#A07266;
}

.model4{
	background-color:#57C5D9;
	
}
.modelButton4 {
	background-color:#2DABC1;
}
.model5{
	background-color:#BCD43A;
	
}
.modelButton5 {
	background-color:#A6C118;
}
.model6{
	background-color:lightblue;
	
}
.modelButton6 {
	background-color:#55AAFF;
}
.row:hover .btn{
	color:white;
	  transition: transform 0.25s ease;
}


.contentContainer{
	
	height:250pt;
}



.contact{
	margin-top:1%;
	background-color:#55AAFF;
	color:white;

}
input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
 border: 1px solid red;
 }
 .form-container{
 background-color: #ECF0F1;
  margin-left:5%;
  margin-right:5%;
  padding: 1em;
  }