.csrFund-container{
 font-family: 'open-sans';
 background-color: #ECF0F1;
 }
 .form-container{
 background-color: #ECF0F1;
  margin-left:5%;
  margin-right:5%;
  padding: 1em;
  }
 input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
 border: 1px solid red;
 }