.domainheading{
	font-size:2em;
	color: #2C2255;
	font-family:Open Sans;
}
.infoHeading{
	font-size:1.2em;
	color:#0375B4;
	font-family:Open Sans;
}
.nameHeading{
	
	font-size:2em;
	color: dodgerblue;
	font-family:Open Sans;
}
.description{
	font-size:1.2em;
	color:#0375B4;
	font-family:Open Sans;
}