.expressInterestMainHeading
{
	margin-top: 15%;
    
    color: RGB(1,120,188);
    font-size:1.5em;
}

.expressInterestText{
	font-size: 1.15em;
    
}
.expressInterestButton
{
	font-size: 1.15em;
    
    margin-top:10%;
}
.submissionForm{
	    margin-top: 10%;
}

#formHeading
{
	    margin-top: -6%;
	    
	    font-size: 1.5em;
	    color: RGB(223,54,33);
}
.successMessage
{
	color: green;
}
.errorMessage
{
	color: red;
}