.findTcdiv label{
	color: black;
}
.findTcdiv{
margin-top:15pt;
}

.trainingCenters{
	text-align: center;
	font-size: 0.9em !important;
	font-weight: bold;
	color: #1b276b;
	font-family: 'Open Sans';
}

.trainingCenterCellClass{
	text-align: center;
	font-size: 0.7 em;
	color: #1b276b;
	font-family: 'Open Sans';
}

#myFormModal{
	display:block;
}