.pointer{
  cursor: pointer;
}
.ui-grid-header-cell{
  text-align: center;
  background-color: #0375b4;
  color:#ffffff;
}
.ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: #ffffff;
}
.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: #ffffff;
}
.ui-grid-cell{
  text-align: center;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #d4d4d4;;
}
.search{
	  background-color: black;
  color:#ffffff;
  padding:3pt 15pt;
}
.find{
	  background-color: #0375b4;
  color:#ffffff;
  padding:3pt 7pt;
  margin-left:2%;
}
.main{
		padding: 1%;
}
h4{
	color:#0375b4;
	}
.upcomingevent{
	background-color:#f1f1f1;
	padding: 1%;
	}
.row{
	padding: 1%;

	}
.findwebinar{
	color:black;
	    font-size: 18pt;
	    margin:0%;
	
}
.search-box{
	margin-top:6%;
}

}
@media(min-width: 760px){
	.findwebinar{
	margin-top: 0%;
		    font-size: 18pt;
    line-height: 9.2pt;
	
}

