.helplineHeading{
	font-size: 2.5em;
    
    font-family: Open sans;
    /* font-style: oblique; */
    color:#55AAFF;
	
}
.contentheading{
	color:#7BA9DC;
	
}
.contentContainer{
	margin-top:-4%;
}