.item{
  background-color: gray;
  width:100%;
}

.carousel-inner{
  margin-top: 0%;
}
.carousel-inner>.item img {
   height: 50%;
   width:100%;
 }
.container-fluid {
	padding:0;
}
/*latest Update*/
.update{
  width:100%;
  background-color: whitesmoke;
  margin-top: 1%;
}


.mainContent{
  text-align: center;
  font-size: 3em;
}
