.roundButton {
    background-color: #0f336d; /* Green */
    border: none;
    color: white;
 	border-radius: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Open Sans;
    font-size: 100%;
    margin: 1pt 1pt;
    cursor: pointer;
    padding: 0.5%;
}