.divergents-fluid{
	margin-right:0pt;
	margin-left:0pt;
	padding-right:0pt;
	padding-left:0pt;
	background-color:rgba(248,248,248,0.2)
}
.navbar-brand img
{
	height:30pt;
	margin-top:-2pt;
}
.navbar-brand img
{	
	background-color:rgba(248,248,248,0.2);
	margin-right : -2pt;
	margin-bottom: -2pt;
	margin-left: -2pt;
	padding:0pt;
}
.footer-blue
{
	background-color:rgb(49,135,179);
}
.navbar-default .navbar-nav>li>a {
    color: #777;
    cursor: pointer;
 
}
#navbar-footer .pull-right .footer-navbar-link{
    color: white;
    cursor: pointer;
    font-size:8pt;
    text-align:center;
    border-right:1pt solid;
    border-color:rgb(288,288,288,0.2);
}
.footer-navbar-border label
{
	font-size:20pt;
	border-right:1pt solid;
	border-color:rgba(288,288,288,0.2);
	color:rgba(288,288,288,0.2);
}
.footer-nav-img
{
	height:30pt;
}
#navbar-footer ul{
	margin-right:-11pt;
	margin-left:-11pt;
}
#navbar-footer li:hover{
	background-color:rgb(3,117,180);
}
#navbar-footer li p{
  width: 110pt;
  color:white
}
#navbar-footer li :hover p{
	color:white;
}
#navbar-footer li .active a {

  background-color:rgb(3,117,180);

}
.divergents-middle-view
{
	margin-top:40pt;
	position:relative;

}
.btn-generate-chart
{
	background-color:rgba(3,117,180,0.8);
	border-color:rgb(3,117,180);
	color:white;
	font-weight:200;
}
.btn-generate-chart :hover
{
	background-color:rgb(3,117,180);
	border-color:rgb(3,117,180);
	color:white;
	font-weight:200;
	cursor:pointer;
}
.footer-img img{
	height:200pt;
	width:200pt;
	padding:0pt;
	
}
.footer-nav-img-brand
{
  max-width:300pt;
  max-height:75pt;
  width: auto;
  height: auto;
}
.footer-img
{
	height:200pt;
	width:200pt;
}
#navbar-footer .navbar-brand
{
	padding:0pt;
}
li .selected-tab
{
	background-color:rgb(3,117,180);
}