.divergents-fluid{
	margin-right:0pt;
	margin-left:0pt;
	padding-right:0pt;
	padding-left:0pt;
	background-color:rgba(248,248,248,0.2)
}
.navbar-brand img
{
	height:30pt;
	margin-top:-2pt;
}
.navbar-brand img
{	
	background-color:rgba(248,248,248,0.2);
	margin-right : -2pt;
	margin-bottom: -2pt;
	margin-left: -2pt;
	padding:0pt;
}
.navbar
{
	margin-bottom : 0pt;
	background-color:rgba(225,225,225,0.2);
}