.grid{
  margin-top: 2%;
}
.page-content{
  margin-top: 2%;
}
.pointer{
  cursor: pointer;
}
.ui-grid-header-cell{
  text-align: center;
}
.ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: #f3f3f3;
}
.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: #f3f3f3;
}
.ui-grid-cell{
  text-align: center;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #d4d4d4;;
}
.Webinar-container{
  background-color: #ECF0F1;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1em;
  margin-bottom: 1em;
}
.page-content{
  margin-left: 2%;
  margin-right: 2%;
}
.upload-history{
  background-color: #FFFFFF;
  padding: 1em;
  margin-bottom: 1em;
}
.webinar-registration{
  background-color: #FFFFFF;
  padding: 1em;
  margin-bottom: 1em;
}
.upload-webinar{
  background-color: #FFFFFF;
  padding: 1em;
  margin-bottom: 1em;
}
.form{
  padding: 1em;
}