@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.maincontent{
    width: 80vw;
    display: block;
    height: 100vh;
    background-color: #fafafa;
}
.spocname{
	float: right;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    width: 100vw;
    display: flex;
    align-items: stretch;
    height: 100vh;
    padding: 0%;
}

#sidebar {
    width: 20vw;
    background: #19b2cc;
    color: #fff;
    transition: all 0.3s;
    display: block;
    height: 100vh;

}

#sidebar ul li a {
    text-align: left;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #19b2cc;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 5px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #ffffff;
    background: #0a90a8;
}
#sidebar ul li a i {
    margin-right: 10px;
}




#toggle{
    visibility: hidden;
}



/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    .maincontent{
        width: 100%;
    }

    #sidebar {
        display: block;
        width: 40vh;
    }

    #sidebar ul li a {
    font-size: 0.6em;
    display: block;
    text-align: center;
}

    #toggle{
        visibility: visible;
    }
   
}


