.registerMainHeading
{
	margin-top: 15%;
    
    color: RGB(1,120,188);
    font-size:1.5em;
}

.submissionForm{
	    margin-top: 10%;
}

#formHeading
{
	    margin-top: -6%;
	    
	    font-size: 1.5em;
	    color: RGB(223,54,33);
}
.successMessage
{
	color: green;
	background-color:#e2dfdf;
	margin-bottom:2pt;
	padding:2pt;
}
.successMessage > a {
	text-decoration:none;
	color:crimson;
	font-weight : 500;
	cursor:pointer;
}
.successMessage > a :hover{
	cursor:pointer;
	text-decoration:none;
	color:brown;
}
.errorMessage
{
	color: red;
	
}
.registrationFailed
{
	color : brown;
}