.reportIssues{
  width:100%;
  background-color: white;
  height:auto;
}
.reportIssuesHeading{
	font-size:2em;
}
.reportIssuesForm
{
  height: auto;
margin-left:21%;
width:77%;
margin-top: 2%;

}
.reportIssuesSubmit {
  background-color:  #008A9F;
  margin-left: 45%;
  margin-bottom: 2%   ;
  color:white;
margin-top:2%;
}

.reportIssues p{
font-size: 2em;
margin-top: 2%;

}
.form-control{
  width:45%;
}
.form-inline{
  width: 81%;
    margin-left: 3%;
    margin-top: 2%;
    height: 5%;
}

.nameForm label{
	float:left;
}
.row{
	margin-top:1%;
}
 input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
 border: 1px solid red;
 }