.container
{

  width:100%;
  background-color: white;
  height:auto;

}
.reportIssuesHeading
{
    margin-top: 2%;
    color: RGB(1,120,188);
    font-size:1.5em;
}
.successMessage
{
	color: green;
}
.errorMessage
{
	color: red;
}
.btn-primary
{
	margin-top: 2%;
    margin-left: 60%;
}
hr:after
{
	border:2px;
}
.Institute
{
	margin-top: 1%;	
}