.row {
    margin:0px;
}
.switchButton ul{
	font-size:14pt;
}
.report ul{
	font-size:10pt;
    list-style-type: none;
}
.statewise{
	padding:2%;
}
.report{
	padding:5%;
}
.grid{
	margin-top:5%;
}
.pointer{
  cursor: pointer;
}
.ui-grid-header-cell{
  text-align: center;
  background-color: #0375b4;
  color:#ffffff;
}
.ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: #ffffff;
}
.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: #ffffff;
}
.ui-grid-cell{
  text-align: center;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #d4d4d4;;
}
.submitIdea{
	font-size:26pt;
	font-weight:bold;
	color:	#800000;
}
.idea{
	padding:12%;
}
.submit{
	color:#ffffff;
	background-color:#000000;
}
.submitidea{
	margin-left:24%;
}
.nav-justified>li {
    float: none;
    background-color: #eee;
}
.pdffile{
	padding:3%;
}
.pdffile .title{
	font-size:20pt;
}
.skillgap{
	padding:1%;
}


.skillGapSearch{
	margin-top: 13pt;
    margin-left: 5pt;
    }
    
.skillGapSearchButton{
	background-color: #49135179;
	border-color: #49135179;
	color: #ffffff;
}

.card {
 background-size: 100% 100%;
  display:inline-block;
  float:left;
  width: 17%;
  height:30%;
  margin:1%;
  padding-top:5%;
  text-align:center;
  font-size: 9pt;
  border: 1px solid lightgray;
  color:#d64161;
  font-weight: bold;
  font-family:'Open sans';
  cursor:pointer;
}

.card:hover {
  background-size: 100% 100%;
  color: black;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
}
