.row {
    margin:0px;
}
.switchButton ul{
	font-size:14pt;
}
.report ul{
	font-size:10pt;
    list-style-type: none;
}
.statewise{
	padding:2%;
}
.report{
	padding:5%;
}
.grid{
	margin-top:5%;
}
.pointer{
  cursor: pointer;
}
.ui-grid-header-cell{
  text-align: center;
  background-color: #0375b4;
  color:#ffffff;
}
.ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: #ffffff;
}
.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: #ffffff;
}
.ui-grid-cell{
  text-align: center;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #d4d4d4;;
}
.submitIdea{
	font-size:26pt;
	font-weight:bold;
	color:	#800000;
}
.idea{
	padding:12%;
}
.submit{
	color:#ffffff;
	background-color:#000000;
}
.submitidea{
	margin-left:24%;
}
.nav-justified>li {
    float: none;
    background-color: #eee;
}
.pdffile{
	padding:3%;
}
.pdffile .title{
	font-size:20pt;
}
.skillgap{
	padding:1%;
}