.pointer{
  cursor: pointer;
}
.ui-grid-header-cell{
  text-align: center;
  background-color: #0375b4;
  color:#ffffff;
}
.ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: #ffffff;
}
.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: #ffffff;
}
.ui-grid-cell{
  text-align: center;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #d4d4d4;;
}
.search{
	  background-color: black;
  color:#ffffff;
  padding:3pt 15pt;
}
.search1{
	  background-color: black;
  color:#ffffff;
 padding:3pt 15pt;
}
@media(min-width: 1200px){
	.search1{
	margin-left:-54%;
	padding:3pt 48pt;
}
}
@media(min-width: 1200px){
	.search{
	padding:3pt 48pt;
}
}
@media(min-width: 760px){
	.search{
	padding:3pt 48pt;
}
}
@media(min-width: 760px){
	.search1{
	padding:3pt 48pt;
}
}

.search:hover{
	color:#ffffff;
}
.search1:hover{
	color:#ffffff;
}
.apply{
	  background-color: #0375b4;
  color:#ffffff;
  padding:3pt 7pt;
}
.search-box{
	background-color:#f1f1f1;
	color:#0375b4;
	padding: 1%;
	}
.data-table h3{
	background-color:#ffffff;
	color:#0375b4;
	padding: 1%;
	}