.trainingMaterial{
	margin: 3% 0 2% 0;
	color: RGB(67,123,245);
	
    font-size: 1.3em;
   	font-family:Open sans;
    margin-bottom: 15px;
    color:#7C818A;
    font-weight: bold;
    
}

.searchTrainingMaterial{
	background: RGB(67,123,245);
	color: white;
}

.searchBar{
	margin: 1.5% 0% 1.5% 0%;
}
.trainingMaterialBody{
	padding: 0 1% 0 1%;
	font-family: Open Sans; 
}
