<!doctype html>
<html>
<head>
	<title>Skill India App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- All the common files for the Project -->
	<!-- CSS -->
		    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.6/ui-grid.css">
        <link  href="css/publicUser.css" rel="stylesheet"/>
        <link rel ='stylesheet' type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">	  
<!--           <link rel="stylesheet" type="text/css" href="js/slick/slick.css"/> -->
<!--   <link rel="stylesheet" type="text/css" href="js/slick/slick-theme.css"/> -->
<!--   <link rel="stylesheet" type="text/css" href="css/carousel.css"> -->
    	
    	
    		<!-- Angular Imports -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js" type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js" type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.min.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js" type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-cookies.min.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.6/ui-grid.js"></script>
<!-- 	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.js"></script> -->
<!-- 	<script tye="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap.js"></script> -->
<!-- 	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap.min.js"></script> -->
		<script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      	<script src="js/slick/slick.js" type="text/javascript" charset="utf-8"></script>
<!--    <script src="js/carousel.js" type="text/javascript" charset="utf-8"></script> -->
<!-- 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" type="text/javascript"></script> -->
    <!-- javascript -->
  	
<!--   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script> -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.js"></script>

<!--         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        
	    	<!-- Angular Controllers for landing page-->
		<script type="text/javascript" src="js/index.js" type="text/javascript"></script>
		<script type="text/javascript" src="js/home.js" type="text/javascript"></script>
		<script type="text/javascript" src="js/controller/login.js"></script>
		<script type="text/javascript" src="js/controller/relevant-documents.js"></script>
		<script type="text/javascript" src="js/controller/relevantdocument.js"></script>
		<script type="text/javascript" src="js/controller/policy-govt.js"></script>
		<script type="text/javascript" src="js/controller/reports-govt.js"></script>
		    <script type="text/javascript" src="js/controller/skillgapStudy.js"></script>
    <script type="text/javascript" src="js/controller/tenders-rfp.js"></script>
    <script type="text/javascript" src="js/controller/headWebinar.js"></script>

<!--     	<link rel="stylesheet" href="css/FAQ.css"/> -->
    	<link rel="stylesheet" href="css/jobRole.css"/>
    	<link rel="stylesheet" href="css/findTC.css"/>
    	<link rel="stylesheet" href="css/jobOpening.css"/>
    	<link rel="stylesheet" href="css/trainingMaterial.css"/>
    	<link rel="stylesheet" href="css/jobOpening.css"/>
    	<link rel="stylesheet" href="css/main.css"/>
		
		
		
</head>

<body ng-app="divergents" class="divergents-fluid ">
<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script>
        
<!-- Screen 0 Video -->
<section class="fullsize-video-bg" ng-controller="home" ng-hide="templateShow || templateShowI || templateShowGovt || templateShowTP">
    <div class="inner">
            <h1>Journey of making India</h1>
      </div>
      <div class="inner1">
          <h2><i>The skill capital of the world</i></h2>
          </div>


    <div class="layer-up">&nbsp;</div>
            <video class="video" autoplay="true" muted="true" loop>
                <source src="images/Video2.mp4" type="video/mp4">
            </video>
    <div class="square-img">
        <div class="container">
                  <div class="inner3">
          <h4>Know what's in for you in the skill India Ecosystem</h4>
          </div>
            <ul>
                <li>
                    <a  ng-click="openStudent()">
                        <img src="images/student.png">
                        <div class="wrapdiv">
                            <div class="over-img">
                                <img src="images/studentlogo.png" align="left">
                                <label>Get Skilled</label>
                               <img src="images/arrow.png" align="right">
                            </div> 

                        </div>
                    </a>
                </li>
                <li>
                    <a ng-click="openIndustry()">
                        <img src="images/Industry.jpg">
                        <div class="wrapdiv wrapdiv-sec">
                            <div class="over-img"><img src="images/industry.png"  align="left">
                                <label>Corporate</label>
                               <img src="images/arrow.png"  align="right">
                            </div>

                        </div>
                    </a>
                </li>
                <li>
                    <a ng-click="openTrainingPartner()">
                        <img src="images/trainingpartner.png">
                        <div class="wrapdiv wrapdiv-thir">
                            <div class="over-img"><img src="images/TP.png"  align="left">
                                <label>Provide Training</label>
                                <img src="images/arrow.png"  align="right">
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a ng-click="openGovt()">
                        <img src="images/govt.png">
                        <div class="wrapdiv wrapdiv-four">
                            <div class="over-img">
                                <img src="images/government.png" align="left">
                                <label>Goverment</label>
                                <img src="images/arrow.png"  align="right">
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>

</section>

<script type="text/javascript" src="js/controller/nsdcAdminController.js"></script>
		<script type="text/javascript" src="js/controller/becomeTP.js"></script>
		<script type="text/javascript" src="js/controller/webinarsPublicUser.js"></script>
		<script type="text/javascript" src="js/controller/fAQ.js"></script>
		<script type="text/javascript" src="js/controller/studentController.js"></script>
		<script type="text/javascript" src="js/controller/jobRole.js"></script>
		<script type="text/javascript" src="js/controller/findTrainingCenter.js"></script>
		<script type="text/javascript" src="js/controller/ssc.js"></script>
		<script type="text/javascript" src="js/controller/jobOpening.js"></script>
		<script type="text/javascript" src="js/controller/trainingMaterial.js"></script>
		<script type="text/javascript" src="js/controller/about-us.js"></script>
<script type="text/javascript" src="js/controller/reportIssue.js"></script>	
<script type="text/javascript" src="js/controller/placements.js"></script>


<div id="google_translate_element"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        

	
			
		<!--Screen 1 Section for Student Page -->
<section ng-controller="student">
<div ng-show="templateShow">
<header >
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="images/nsdc.png"/></a>
          <a class="navbar-brand" href="#"><img src="images/Image-of-Skill-India.png"/></a>
          
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav pull-right">
            <li class="active"><a ng-click="studentSwitch = 'home'">HOME</a></li>
            <li><a ng-click="studentSwitch = 'about-us'">SKILL COMPETITIONS</a></li>
            <li><a ng-click="studentSwitch = 'join-us'">WEBINARS</a></li>
            <li><a ng-click="studentSwitch = 'competetion'">SKILL GAP STUDY</a></li>
            <li><a ng-click="studentSwitch = 'resources'">TENDERS & RFP's</a></li>
            <li><a ng-click="studentSwitch = 'champions'">HELPLINE</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">USER TYPE<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a ng-click="openIndustry()">INDUSTRY</a></li>
                <li><a ng-click="openTrainingPartner()">TRAINING PARTNER</a></li>
                <li><a ng-click="openGovt()">GOVERNMENT</a></li>
              </ul>
            </li>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</header>
<div class="sticky-tab-feedback" ng-hide="studentSwitch == 'home'">
<button class="btn btn-danger" value="Give Feedback">Give Feedback</button>
</div>

<!-- View of Student section -->
<div class="col-md-12 divergents-middle-view">
<div ng-switch on="studentSwitch">
<div ng-switch-when="home">

<div ng-include src="'partials/student-home-carousel.html'"></div>
</div>
<div ng-switch-when="about-us">
<div ng-include src="'partials/about-us.html'"></div>
</div>
<div ng-switch-when="join-us">
<div ng-include src="'partials/headerwebinar.html'"></div>
</div>
<div ng-switch-when="competetion">
<div ng-include src="'partials/skillgapstudy.html'"></div>
</div>
<div ng-switch-when="resources">
<div ng-include src="'partials/tenders-rfp.html'"></div>
</div>
<div ng-switch-when="champions">
<div ng-include src="'partials/champions.html'"></div>
</div> 
<div ng-switch-when="student-jobrole">
<div ng-include src="'partials/student-jobrole.html'"></div>
</div>  
<div ng-switch-when="student-find-tc">
<div ng-include src="'partials/student-find-tc.html'"></div>
</div> 
<div ng-switch-when="student-view-qp">
<div ng-include src="'partials/student-view-qp.html'"></div>
</div> 
<div ng-switch-when="student-connect-tp">
<div ng-include src="'partials/report-issue.html'"></div>
</div> 
<div ng-switch-when="student-govt-loan">
<div ng-include src="'partials/student-govt-loan.html'"></div>
</div>
<div ng-switch-when="student-job-opportunity">
<div ng-include src="'partials/student-job-opportunity.html'"></div>
</div>      
</div>
</div>
<div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid footer-blue">
        <div id="navbar-footer" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav">
        <li class="footer-navbar-link" ><img class="footer-nav-img-brand" src="images/want_to_be_skilled.png" /></li>
        </ul>
          <ul class="nav navbar-nav pull-right">            
            <li class="footer-navbar-link"><a ng-click="studentSwitch = 'student-jobrole'"><span><img class="footer-nav-img" src="images/job role.png" /><p>&nbsp; &nbsp; &nbsp;Job Roles&nbsp; &nbsp; &nbsp;</p></span></a></li>
            <li class="footer-navbar-link"><a ng-click="studentSwitch = 'student-find-tc'"><span><img class="footer-nav-img" src="images/Find TC.png"/><p>Find a training center</p></span></a></li>
            <li class="footer-navbar-link"><a ng-click="studentSwitch = 'student-view-qp'"><span><img class="footer-nav-img" src="images/view QP.png"/><p>Training material &nbsp;</p></span></a></li>
            <li class="footer-navbar-link"><a ng-click="studentSwitch = 'student-connect-tp'"><span><img class="footer-nav-img" src="images/reports.png"/><p>Report Issues</p></span></a></li>
            <li class="footer-navbar-link"><a ng-click="studentSwitch = 'student-govt-loan'"><span><img class="footer-nav-img" src="images/government.png"/><p>Govt. loan for Training</p></span></a></li>
            <li class="footer-navbar-link"><a ng-click="studentSwitch = 'student-job-opportunity'"><span><img class="footer-nav-img" src="images/skill gap study.png"/><p>Job Opportunities</p></span></a></li>
            </ul>
        </div>
  </div>
</nav>
</div>
</div>
</section>
<!---------------------------------------- SCREEN 3 FOR INDUSTRY ----------------------------------------------------------------->
<script type="text/javascript" src="js/controller/industry.js"></script>
<script type="text/javascript" src="js/controller/industryTabsController.js"></script>
<script type="text/javascript" src="js/controller/talentAcquisition.js"></script>
<script type="text/javascript" src="js/controller/express-interest-rpl.js"></script>
<section ng-controller="industry">
<div ng-show="templateShowI">
<header >
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="images/nsdc.png"/></a><a class="navbar-brand" href="#"><img src="images/Image-of-Skill-India.png"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav pull-right">
          <li class=><a ></a></li>
          <li class=""><a ></a></li>
            <li class="active"><a ng-click="switchIndustry = 'quick-facts-industry'">HOME</a></li>
            <li><a ng-click="switchIndustry = 'about-us'">SKILL COMPETITIONS</a></li>
            <li><a ng-click="switchIndustry = 'join-us'">WEBINARS</a></li>
            <li><a ng-click="switchIndustry = 'competetion'">SKILL GAP STUDY</a></li>
            <li><a ng-click="switchIndustry = 'resources'">TENDERS & RFP's</a></li>
            <li><a ng-click="switchIndustry = 'champions'">HELPLINE</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">USER TYPE<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a ng-click="openStudent()">STUDENT</a></li>
                <li><a ng-click="openTrainingPartner()">TRAINING PARTNER</a></li>
                <li><a ng-click="openGovt()">GOVERNMENT</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</header>
<div class="sticky-tab-feedback">
<button class="btn btn-danger" value="Give Feedback">Give Feedback</button>
</div>

<!-- View of Industry section -->
<div class="col-md-12 divergents-middle-view">
<div ng-switch on="switchIndustry">
<div ng-switch-when="home">

<div ng-include src="'partials/student-home-carousel.html'"></div>
</div>
<div ng-switch-when="about-us">
<div ng-include src="'partials/about-us.html'"></div>
</div>
<div ng-switch-when="join-us">
<div ng-include src="'partials/headerwebinar.html'"></div>
</div>
<div ng-switch-when="competetion">
<div ng-include src="'partials/skillgapstudy.html'"></div>
</div>
<div ng-switch-when="resources">
<div ng-include src="'partials/tenders-rfp.html'"></div>
</div>
<div ng-switch-when="champions">
<div ng-include src="'partials/champions.html'"></div>
</div> 
<div ng-switch-when="quick-facts-industry">
<div ng-include src="'quickFactsIndustry.html'"></div>
</div>  
<div ng-switch-when="partnership-model">
<div ng-include src="'partials/domain.html'"></div>
</div> 
<div ng-switch-when="csr">
<div ng-include src="'partials/csr.html'"></div>
</div> 
<div ng-switch-when="key-policy-decision">
<div ng-include src="'partials/express-interest-rpl.html'"></div>
</div> 
<div ng-switch-when="talent-acquisition">
<div ng-include src="'partials/talent-acquisition.html'"></div>
</div>
<div ng-switch-when="relevant-document">
<div ng-include src="'partials/relevant-document.html'"></div>
</div>      
</div>
</div>
<div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid footer-blue">
        <div id="navbar-footer" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav">
        <li class="footer-navbar-link" ><img class="footer-nav-img-brand" src="images/industry_partnership_&_CSR.png" /></li>
        </ul>
          <ul class="nav navbar-nav pull-right">
          
            <li class="footer-navbar-link"><a ng-click="switchIndustry = 'quick-facts-industry'"><span><img class="footer-nav-img" src="images/quick facts.png" /><p>&nbsp; &nbsp; &nbsp;Quick Facts&nbsp; &nbsp; &nbsp;</p></span></a></li>
            <li class="footer-navbar-link"><a ng-click="switchIndustry = 'partnership-model'"><span><img class="footer-nav-img" src="images/industry partnership model.png"/><p>Sector Skill Council</p></span></a></li>
            <li class="footer-navbar-link"><a ng-click="switchIndustry = 'csr'"><span><img class="footer-nav-img" src="images/csr.png"/><p>&nbsp;&nbsp;&nbsp;&nbsp;CSR &nbsp;&nbsp;&nbsp;&nbsp;</p></span></a></li>
            <li class="footer-navbar-link"><a ng-click="switchIndustry = 'key-policy-decision'"><span><img class="footer-nav-img" src="images/key policy.png"/><p>Employee Certification</p></span></a></li>
            <li class="footer-navbar-link"><a ng-click="switchIndustry = 'talent-acquisition'"><span><img class="footer-nav-img" src="images/Talent Acquisition.png"/><p>Talent Acquisition</p></span></a></li>
            <li class="footer-navbar-link"><a ng-click="switchIndustry = 'relevant-document'"><span><img class="footer-nav-img" src="images/Relevant Documents.png"/><p> Documents and Policies</p></span></a></li>
            </ul>
        </div>
  </div>
</nav>
</div>
</div></section>

<!------------------------------------ SCREEN 4 FOR GOVERNMENT AND STATE MACHINERY--------------------------- ----------------------->

<script type="text/javascript" src="js/controller/govt.js"></script>
<script type="text/javascript" src="js/controller/govTabsController.js"></script>
<section ng-controller="govt">
<div ng-show="templateShowGovt">
<header >
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="images/nsdc.png"/></a><a class="navbar-brand" href="#"><img src="images/Image-of-Skill-India.png"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav pull-right">
          <li class=><a ></a></li>
          <li class=""><a ></a></li>
            <li class="active"><a ng-click="switchGovt = 'quick-facts-govt'">HOME</a></li>
            <li><a ng-click="switchGovt = 'about-us'">SKILL COMPETITIONS</a></li>
            <li><a ng-click="switchGovt = 'join-us'">WEBINARS</a></li>
            <li><a ng-click="switchGovt = 'competetion'">SKILL GAP STUDY</a></li>
            <li><a ng-click="switchGovt = 'resources'">TENDERS & RFP's</a></li>
            <li><a ng-click="switchGovt = 'champions'">HELPLINE</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">USER TYPE<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a ng-click="openIndustry()">INDUSTRY</a></li>
                <li><a ng-click="openTrainingPartner()">TRAINING PARTNER</a></li>
                <li><a ng-click="openStudent()">STUDENT</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</header>
<div class="sticky-tab-feedback">
<button class="btn btn-danger" value="Give Feedback">Give Feedback</button>
</div>

<!-- View of Government section -->
<div class="col-md-12 divergents-middle-view">
<div ng-switch on="switchGovt">
<div ng-switch-when="home">

<div ng-include src="'partials/student-home-carousel.html'"></div>
</div>
<div ng-switch-when="about-us">
<div ng-include src="'partials/about-us.html'"></div>
</div>
<div ng-switch-when="join-us">
<div ng-include src="'partials/headerwebinar.html'"></div>
</div>
<div ng-switch-when="competetion">
<div ng-include src="'partials/skillgapstudy.html'"></div>
</div>
<div ng-switch-when="resources">
<div ng-include src="'partials/tenders-rfp.html'"></div>
</div>
<div ng-switch-when="champions">
<div ng-include src="'partials/champions.html'"></div>
</div> 
<div ng-switch-when="quick-facts-govt">
<div ng-include src="'partials/quick-facts-govt.html'"></div>
</div>  
<div ng-switch-when="sector-skill-council">
<div ng-include src="'partials/domain.html'"></div>
</div> 
<div ng-switch-when="policy-govt">
<div ng-include src="'partials/policy-govt.html'"></div>
</div> 
<div ng-switch-when="reports-govt">
<div ng-include src="'partials/reports-govt.html'"></div>
</div> 
<div ng-switch-when="faq-govt">
<div ng-include src="'partials/faq-govt.html'"></div>
</div>
<div ng-switch-when="relevant-document-govt">
<div ng-include src="'partials/relevant-document-govt.html'"></div>
</div>      
</div>
</div>
<div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid footer-blue">
        <div id="navbar-footer" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav ">
          <li class="nav navbar-nav" ><img class="footer-nav-img-brand" src="images/government_&_state_machinery.png" /></li>
        </ul>
          <ul class="nav navbar-nav pull-right">        
            <li class="footer-navbar-link"><a ng-click="switchGovt = 'quick-facts-govt'"><span><img class="footer-nav-img" src="images/quick facts.png" /><p>&nbsp; &nbsp; &nbsp;Quick Facts&nbsp; &nbsp; &nbsp;</p></span></a></li>
            <li class="footer-navbar-link"><a ng-click="switchGovt = 'sector-skill-council'"><span><img class="footer-nav-img" src="images/sector skill council.png"/><p>Sector Skill Councils</p></span></a></li>
            <li class="footer-navbar-link"><a ng-click="switchGovt = 'faq-govt'"><span><img class="footer-nav-img" src="images/faqs.png"/><p>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;FAQs</p></span></a></li>
            <li class="footer-navbar-link"><a ng-click="switchGovt = 'reports-govt'"><span><img class="footer-nav-img" src="images/reports.png"/><p>Reports</p></span></a></li>
            <li class="footer-navbar-link"><a ng-click="switchGovt = 'policy-govt'"><span><img class="footer-nav-img" src="images/policy.png"/><p>Recent Policies</p></span></a></li>
            <li class="footer-navbar-link"><a ng-click="switchGovt = 'relevant-document-govt'"><span><img class="footer-nav-img" src="images/parliament_questions.png"/><p>Parliament Questions</p></span></a></li>
            </ul>
        </div>
  </div>
</nav>
</div>
</div></section>

<!-----------------------------------SCREEN 2  SECTION  FOR TRAINING PARTNER-------------------------------------->

<script type="text/javascript" src="js/controller/trainingPartner.js"></script>
<script type="text/javascript" src="js/controller/register-with-nsdc.js"></script>
<script type="text/javascript" src="js/controller/trainingPartnerTabsController.js"></script>

<section ng-controller="trainingPartner">
	<div ng-show="templateShowTP">
<header >
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
      
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="images/nsdc.png"/></a><a class="navbar-brand" href="#"><img src="images/Image-of-Skill-India.png"/></a>
        </div>       
        	<div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav pull-right">
          <li class=><a ></a></li>
          <li class=""><a ></a></li>
            <li class="active"><a ng-click="tpSwitch = 'home'">HOME</a></li>
            <li><a ng-click="tpSwitch = 'about-us'">SKILL COMPETITIONS</a></li>
            <li><a ng-click="tpSwitch = 'join-us'">WEBINARS</a></li>
            <li><a ng-click="tpSwitch = 'competetion'">SKILL GAP STUDY</a></li>
            <li><a ng-click="tpSwitch = 'resources'">TENDERS & RFP's</a></li>
            <li><a ng-click="tpSwitch = 'champions'">HELPLINE</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">USER TYPE<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a ng-click="openIndustry()">INDUSTRY</a></li>
                <li><a ng-click="openStudent()">STUDENT</a></li>
                <li><a ng-click="openGovt()">GOVERNMENT</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</header>


<!-- View of tRAINING PARTNER section ------------------------------------>
<div class="col-md-12 divergents-middle-view">
<div ng-switch on="tpSwitch">
<div ng-switch-when="home">
<div ng-include src="'trainingPartnerHomepage.html'"></div>
</div>
<div ng-switch-when="about-us">
<div ng-include src="'partials/about-us.html'"></div>
</div>
<div ng-switch-when="join-us">
<div ng-include src="'partials/headerwebinar.html'"></div>
</div>
<div ng-switch-when="competetion">
<div ng-include src="'partials/skillgapstudy.html'"></div>
</div>
<div ng-switch-when="resources">
<div ng-include src="'partials/tenders-rfp.html'"></div>
</div>
<div ng-switch-when="champions">
<div ng-include src="'partials/champions.html'"></div>
</div> 
<div ng-switch-when="quick-facts-tp">
<div ng-include src="'trainingPartnerHomepage.html'"></div>
</div>  
<div ng-switch-when="register">
<div ng-include src="'partials/register-with-nsdc.html'"></div>
</div> 
<div ng-switch-when="fund-a-loan">
<div ng-include src="'partials/fund-a-loan.html'"></div>
</div> 
<div ng-switch-when="domain">
<div ng-include src="'partials/domain.html'"></div>
</div> 
<div ng-switch-when="placements">
<div ng-include src="'partials/placements.html'"></div>
</div>
<div ng-switch-when="relevant-documents">
<div ng-include src="'partials/relevant-documents.html'"></div>
</div>      
</div>
</div>
<div class="sticky-tab-feedback" ng-hide="tpSwitch == 'home' || tpSwitch == 'quick-facts-tp'">
<button class="btn btn-danger" value="Give Feedback">Give Feedback</button>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid footer-blue">
        <div id="navbar-footer" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav">
          <li class="footer-navbar-link" ><img class="footer-nav-img-brand" src="images/training_partner_opportunity_to_contribute.png" /></li>
        </ul>
          <ul class="nav navbar-nav pull-right">
            <li class="footer-navbar-link"><a ng-click="tpSwitch = 'quick-facts-tp'"><span><img class="footer-nav-img" src="images/quick facts.png" /><p>&nbsp; &nbsp; &nbsp;Quick Facts&nbsp; &nbsp; &nbsp;</p></span></a></li>
            <li class="footer-navbar-link"><a ng-click="tpSwitch = 'register'"><span><img class="footer-nav-img" src="images/Register with NSDC.png"/><p>Register with NSDC</p></span></a></li>
            <li class="footer-navbar-link"><a ng-click="tpSwitch = 'fund-a-loan'"><span><img class="footer-nav-img" src="images/fund.png"/><p>Funding a loan &nbsp;</p></span></a></li>
            <li class="footer-navbar-link"><a ng-click="tpSwitch = 'domain'"><span><img class="footer-nav-img" src="images/Domains and SSCs.png"/><p>Domains and SSCs</p></span></a></li>
            <li class="footer-navbar-link"><a ng-click="tpSwitch = 'placements'"><span><img class="footer-nav-img" src="images/reports.png"/><p>Reported Issues</p></span></a></li>
            <li class="footer-navbar-link"><a ng-click="tpSwitch = 'relevant-documents'"><span><img class="footer-nav-img" src="images/Relevant Documents.png"/><p>Relevant Documents</p></span></a></li>
            </ul>
        </div>
  </div>
</nav>
</div>

</section>
<!-- 	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
<!--  	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> -->
<!--       	<script src="js/slick/slick.js" type="text/javascript" charset="utf-8"></script> -->
      		<script src = "https://code.highcharts.com/highcharts.js"></script>
 	<script src="https://code.highcharts.com/modules/exporting.js"></script>
 	
 	
</body>



</html>