<div ng-show="templateShow">
<div class="container-fluid background-my-container" ng-controller="trainingPartner">
    <div class="img-banner">
<!--<img src="images/carsousel_image1.png" class="img-banner img-responsive" /> -->
    </div>

    <div class=" layer-up">
      <div class="topHeader">
        <div> <img src="images\NSDC logo.png "class="NSDClogo" /></div>

      <div class="topnav" id="myTopnav">

        <a href="#" >View QPs</a>
        <a href="#" >CSR Funding</a>
        <a href="#" >Tenders/RFPs</a>
        <a href="#"  >Find Training Center</a>
        <a href="#"  >Webinars</a>
          <a href="#"  >Skill Gap Study</a>
            <a href="#" >Report Issues</a>
        <a href="#" style="font-size:15px;" class="icon"  onclick="myFunction()">&#9776;</a>
      </div>

      </div>
      <div class="lowerFooter col-md-12">
      </div>

      </div>
    </div>
</div>
